{"allowBoost":false,"allowBrightness":false,"allowColorDepth":false,"allowContrast":true,"allowHUE":true,"allowModifications":true,"allowOpacity":false,"allowSaturation":true,"allowTransparency":true,"boostBlue":0,"boostGreen":0,"boostRed":0,"brightness":-100,"colordepth":4,"contrast":-100,"filter":"BiLinear","flipX":false,"flipY":false,"format":"RGBA4","gaussian":false,"genMipmaps":false,"grayscale":true,"height":256,"hue":180,"invertColors":true,"maxResolutionID":8,"noise":true,"originalHeight":512,"originalWidth":512,"quality":90,"saturation":100,"sepia":true,"sharpen":false,"sketch":false,"vignette":false,"width":256,"wrap":"Repeat"}